body {
    font-family: 'Open Sans', sans-serif;
}

.noselect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.diary__wrapper {
    /*padding: 0 20px;*/
    position: relative;
}


.diary__week {
    padding: 209px 0 0;
}

.diary__weekend {
    height: 90px;
}

.diary__day {
    overflow: hidden;
}
.diary__day.diary__day_sunday {
    background: #E2D8D8;
}

.diary__day:after {
    display: block;
    clear: both;
    content: "";
}

.diary__day-name {
    padding: 15px 11px;
    box-sizing: border-box;

    position: relative;
    z-index: 2;

    font-size: 12px;
    font-weight: 700;
    color: #fff;

    background: #9e9e9f; /* Old browsers */
    background: -moz-linear-gradient(top,  #9e9e9f 0%, #a3a3a3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e9e9f), color-stop(100%,#a3a3a3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9e9e9f 0%,#a3a3a3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9e9e9f 0%,#a3a3a3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9e9e9f 0%,#a3a3a3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9e9e9f 0%,#a3a3a3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9e9f', endColorstr='#a3a3a3',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.13);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0.13);
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.13);
}

.diary__day_today .diary__day-name {
    background: #75af6f;
}

.diary__day-name span {
    display: block;
}

.diary__day-content {
    display: table;
    width: 100%;

    position: relative;
    z-index: 1;
}

.diary__lesson {
    display: table-row;
}

.diary__lesson-cell {
    display: table-cell;
    box-sizing: border-box;
    padding: 20px 16px;
    border-right: 1px solid #e5e5e5;
    border-top: none;
    border-left: none;
    vertical-align: middle;
    font: 300 14px/1 Open Sans;
    color: #4c6371;
}

.diary__lesson-cell:first-child{
    border-left: 1px solid #e5e5e5;
}

.diary__lesson-cell_number {
    width: 43px;
    padding: 20px 0;
    text-align: center;
}
.diary__lesson-cell_time {
    width: 74px;
    padding: 20px 0;
    text-align: center;
}

.diary__lesson-cell_discipline {
    width: 174px;
    border-left: none;
    font-weight: 700;
}

.diary__lesson-cell_notes {
    /*width: 62.23%;*/
    border-left: none;
}

.diary__lesson-cell_mark {
    width: 97px;
    text-align: center;
}
.diary__lesson-cell_mark_practical {
    width: 98px;
    text-align: center;
}

.mark__edit {
    width: 100%;
    position: relative;
}

.edit__input {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 23px;

    box-sizing: border-box;
    border: 1px solid #fff;
    outline: none;
    border-radius: 3px;
    background: #fff;

    font: 400 14px/1 Open Sans;
    color: #4c6371;
    text-align: center;
}

.diary__day_sunday .edit__input {
    border-color: #E2D8D8;
    background: none;
}
.diary__day_sunday .edit__input:focus {
    border-color: #e5e5e5;
}

.edit__input:focus {
    border-color: #bbd3db;
}

.edit__accept {
    display: none;
    vertical-align: middle;
    width: 10px;
    height: 9px;
    background: url(../img/icon-accept.png) no-repeat center;
    cursor: pointer;
    margin-left: 5px;
}
.edit__deny {
    display: none;
    vertical-align: middle;
    width: 8px;
    height: 9px;
    background: url(../img/icon-cancel.png) no-repeat center;
    cursor: pointer;
    margin-right: 5px;

}

.mark__edit.mark__edit_active .edit__accept,
.mark__edit.mark__edit_active .edit__deny {
    display: inline-block;
}

.edit__change {
    display: none;
    vertical-align: middle;
    width: 21px;
    height: 21px;

    position: absolute;
    right: -8px;
    top: 1px;

    background: url(../img/icon-edit.png) no-repeat center;

    cursor: pointer;
}

.diary__lesson:hover .edit__change {
    display: inline-block;
}
.diary__lesson:hover .mark__edit.mark__edit_active .edit__change {
    display: none;
}

@media screen and (max-width: 1024px){
    .diary__lesson-cell_discipline {
        width: 112px;
    }
}